<div class="container mt-5">

  <!-- search bar -->
  <div class="row" id="search-bar">
    <div class="col-12">
      <form action="/search">
        <div class="input-group mb-5">
          <input type="text" name="keyword" class="form-control" placeholder="請輸入餐廳名稱或分類..." value="{{keyword}}">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="search-button">Search</button>
            <a class="btn btn-success" href="./restaurants/new" role="button">Create</a>
          </div>
        </div>
      </form>
    </div>
    
  </div>

  

  {{!-- card --}}
  <div class="row justify-content-center mt-5" id="data-panel">

    {{#each restaurants}}
    <div class="card m-2" style="width: 18rem;">
      <img src="{{this.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" id="category">
          <i class="far fa-flag"></i>
          {{this.category}}
        </li>
        <li class="list-group-item" id="rating">
          <i class="far fa-thumbs-up"></i>
          {{this.rating}}
        </li>
      </ul>
      <div class="card-body">
        <a href="/restaurants/{{this._id}}" class="card-link">更多內容</a>
        <a href="/restaurants/{{ this._id }}/edit" class="card-link">編輯</a>
        <form action="/restaurants/{{ this._id }}/delete" method="POST" style="display: inline;">
          <button class="btn btn-outline-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
    {{/each}}

  </div>
</div>