<div class="container py-5">
  <div class="text-center">
    <h1 class="mb-4">{{restaurant.title}}</h1>
    <img class="rounded mb-4" src="{{restaurant.image}}" alt="Card image cap"
      style="max-height: 300px;">
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto justify-content-center">
      <li class="text-secondary mt-2" id="category">分類: {{restaurant.category}}</li>
      <li class="text-secondary mt-2" id="location">地址: {{restaurant.location}}</li>
      <li class="text-secondary mt-2" id="phone">地址: {{restaurant.phone}}</li>
      <p class="mt-2">
        {{restaurant.description}}
      </p>
    </div>
  </div>
</div>