<div class="container py-5">
  <div class="text-center">
    <h1 class="mb-4">{{restaurants.name}}</h1>
    
    <img class="rounded mb-4" id="showImage" src="{{restaurants.image}}" alt="Card image cap"
      style="max-height: 300px;">
    
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto justify-content-center">
      <ul class="text-secondary mt-2" id="category">
        <i class="far fa-flag"></i>
        {{restaurants.category}}
        </ul>
      <ul class="text-secondary mt-2" id="location">
        <i class="fas fa-building"></i>
        {{restaurants.location}}
        </ul>
      <ul class="text-secondary mt-2" id="phone">
        <i class="fas fa-phone-square-alt"></i>
        {{restaurants.phone}}
        </ul>
      <p class="mt-2">
        {{restaurants.description}}
      </p>
      <a href="/restaurants/{{ restaurants._id }}/edit">編輯</a>
      <a href="/">回首頁</a>
      <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
        <button class="btn btn-outline-danger" type="submit">delete</button>
      </form>
    </div>
  </div>
  
</div>